body {
    background-color: rgb(153, 147, 147);
}

h1 {
    color: white;
    text-align: center;
    background-color: rgb(82, 82, 82);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
p a {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
}
img {
    color: rgb(85, 85, 85);
    height: 250px;
    width: auto;
    padding: 10px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 5px;
}
audio a {
    color: rgb(0, 0, 0);
    margin-left: 3px;
    text-decoration: none;}

hr {
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: 20px;
}

video {
    display: block;
    margin: 20px auto;
    border: 3px solid black;
    border-radius: 10px;
}